<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= yield(:title) || "My Google Forms" %></title>
    <%= stylesheet_link_tag 'reset', 'style' %>
    <%= yield(:head) %>
  </head>
  <body class="ss-base-body" dir="ltr">
    <div class="ss-form-container">
      <div class="ss-form-heading">
        <h1 class="ss-form-title">Forms</h1>
        <p></p>
      </div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= yield %>
    </div>
    <%= render :partial => 'layouts/google_analytics' %>
    <div id="footer"></div>
  </body>
</html>
